@model OPIDChecks.Models.FileViewModel

@{
    ViewBag.Title = "Research Table";
    Layout = "~/Views/Shared/_Superadmin.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#researchtable').DataTable({
            "ajax": {
                "url": "@Url.Action("GetChecks", "ResearchTable")"
            },
            "columns": [
                { "data": "RecordID", "orderable": false },
                { "data": "InterviewRecordID", "orderable": false },
                { "data": "Name", "orderable": true },
                { "data": "Num", "orderable": false },
                { "data": "Date", "orderable": true },
                { "data": "Service", "orderable": true },
                { "data": "Disposition", "orderable": false }
            ]
        });
    });
        
</script>

<br /><br />
<h2>Research Table</h2>
<br />

<div style="margin:30px;">
    <table id="researchtable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr style="text-align:left;">
                <th>RecordID</th>
                <th>InterviewRecordID</th>
                <th>Name</th>
                <th>Num</th>
                <th>Date</th>
                <th>Service</th>
                <th>Diposition</th>
            </tr>
        </thead>

        <tfoot>
            <tr style="text-align:left;">
                <th>RecordID</th>
                <th>InterviewRecordID</th>
                <th>Name</th>
                <th>Num</th>
                <th>Date</th>
                <th>Service</th>
                <th>Diposition</th>
            </tr>
        </tfoot>
    </table>
</div>

<br /><br /><br />


<form id="backupForm">
    <h4>Backup Research Table</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-default" type="submit">Download Research Table Backup File</button>
        </div>
    </div>
</form>

<script type="text/javascript">
         /* https://stackoverflow.com/questions/11534690/how-to-do-a-jquery-callback-after-form-submit */
         /* https://www.airpair.com/js/jquery-ajax-post-tutorial */
         $("#backupForm").submit(function() {
             $.ajax({
                 url: "/OPIDChecks/ResearchTable/GetResearchTable",
                 dataType: 'json',
                 type: "POST",
                 contentType: 'application/x-www-form-urlencoded',
                 data: $(this).serialize(),
                 success: function (data, textStatus, jQxhr) {
                    // alert("Inside backupForm callback: data.rtfileName = " + data.rtFileName);
                     var textFileAsBlob = new Blob([data.content], { type: 'text/plain' });

                     var downloadLink = document.createElement("a");
                     downloadLink.download = data.rtFileName + ".csv";

                     downloadLink.innerHtml = "Download Research Table";
                     downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
                     downloadLink.click();
                 },
                 error: function( jqXhr, textStatus, errorThrown ) {
                    alert("error thrown: " + errorThrown );
                }
             })
         })

</script>

<br /><br /><br /><br />

@using (Html.BeginForm("Restore", "ResearchTable", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    // Idea for
    //   TextxboxFor(m => m.File, new { type = "file"})
    // comes from https://stackoverflow.com/questions/304617/html-helper-for-input-type-file
    @Html.AntiForgeryToken()
    <h4>Restore from backup.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.File, new { type = "file" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Restore from backup" />
        </div>
    </div>
}

