
@{
    ViewBag.Title = "Research Table";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#researchtable').DataTable({
            "ajax": {
                "url": "@Url.Action("GetChecks", "ResearchTable")"
            },
            "columns": [
                { "data": "RecordID", "orderable": false },
                { "data": "InterviewRecordID", "orderable": false },
                { "data": "Name", "orderable": true },
                { "data": "Num", "orderable": false },
                { "data": "Date", "orderable": true },
                { "data": "Service", "orderable": true },
                { "data": "Disposition", "orderable": false }
            ]
        });
    });

</script>

<br /><br />
<h2>Research Table</h2>
<br />

<div style="margin:30px;">
    <table id="researchtable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr style="text-align:left;">
                <th>RecordID</th>
                <th>InterviewRecordID</th>
                <th>Name</th>
                <th>Num</th>
                <th>Date</th>
                <th>Service</th>
                <th>Diposition</th>
            </tr>
        </thead>

        <tfoot>
            <tr style="text-align:left;">
                <th>RecordID</th>
                <th>InterviewRecordID</th>
                <th>Name</th>
                <th>Num</th>
                <th>Date</th>
                <th>Service</th>
                <th>Diposition</th>
            </tr>
        </tfoot>
    </table>
</div>